.search-box {
  border: 2px solid #007bff;
  padding: 10px;
  padding-left: 20px;
  border-radius: 40px;
  margin-right: 30px;
}

.btn-outline-primary {
  border: 2px solid #007bff;
  padding: 10px;
  border-radius: 40px;
  color: #877575;
  font-size: 1em;
  width: 100px;
}

.search-box:focus {
  outline: none;
}
